<div id="changePasswordOnRegisterCompletePopup" class="popup mfp-hide">
  <div>
    <div class="additional-form-container social-registration-complete-container">
      <div class="additional-form-header social-registration-complete-header">
        <h3>Поздравляем Вас с успешным завершением регистрации!</h3>
      </div>
      <div class="additional-form-header-horizontal-bar"></div>
      <h5>
        В целях исключения несанкционированного доступа к Вашему аккаунту рекомендуем Вам изменить пароль;
      </h5>

      <div class="additional-form-header social-registration-complete-header">
        <h3>Сменить пароль</h3>
      </div>
      {{ form_start(form, {'attr': {'id': 'changePasswordOnRegisterCompleteForm', 'class': 'additional-form'}, 'action': path('change_password', {'userId': userId}), 'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
      <div class="form-group input-group">
        {{ form_label(form.oldPassword, 'Текущий пароль') }}
        {{ form_errors(form.oldPassword) }}
        {{ form_widget(form.oldPassword, {'id': 'oldPasswordField', 'attr': {'class': 'form-control input-group' }}) }}
      </div>
      <div class="form-group input-group show-password-button-container">
        {{ form_label(form.newPassword, 'Новый пароль') }}
        {{ form_errors(form.newPassword) }}
        {{ form_widget(form.newPassword, {'id': 'newPassword', 'attr': {'class': 'form-control password-input', 'placeholder': 'английские буквы, цифры и знаки' }}
        ) }}
        <span class="show-password-icon"></span>
      </div>
      <div class="additional-form-button-container">
        <button class="active-button" type="submit">
          <span class="active-button-label">Изменить</span>
        </button>
        <a href="javascript:void(0);" id="closeChangePasswordPopup" class="semi-active-button">
          <span class="semi-active-button-label">Отмена</span>
        </a>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>