<div class="change-form-container">
  <h4>Сменить пароль</h4>
  {{ form_start(form, {'attr': {'id': 'changePasswordForm'}, 'action': path('change_password', {'userId': userId}), 'method': 'POST'}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
    <div class="form-group">
      {{ form_label(form.oldPassword, 'Текущий пароль') }}
      {{ form_errors(form.oldPassword) }}
      {{ form_widget(form.oldPassword, {'id': 'oldPasswordField', 'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="form-group show-password-button-container">
      {{ form_label(form.newPassword, 'Новый пароль') }}
      {{ form_errors(form.newPassword) }}
      {{ form_widget(form.newPassword, {'id': 'newPassword', 'attr': {'class': 'form-control password-input'}}) }}
      <span class="show-password-icon"></span>
    </div>
    <div class="change-buttons-container">
      <button class="semi-active-button change-setting-button">
        <span class="semi-active-button-label">Изменить</span>
      </button>
      <a class="non-active-button cancel-edit-account">
        <span class="non-active-button-label">Отмена</span>
      </a>
    </div>
    <div class="clear"></div>
  {{ form_end(form) }}
</div>