{% extends 'ZnaikaProfileBundle::Default/user_page_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
  '@ZnaikaProfileBundle/Resources/public/css/user_profile.css'
  %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/form/profile/ChangePasswordForm.class.js'
    '../app/Resources/public/js/classes/form/profile/ChangeEmailForm.class.js'
    '../app/Resources/public/js/classes/page/profile/UserSettingsPage.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block pageContent %}
  <div class="profile-column-container">
    <div class="settings-column-container">
      <h3>Настройки аккаунта</h3>
      <div class="change-email-controller">
        <span class="setting-label">Email</span>
        <span class="current-setting-value">{{ user.email }}</span>
        <a href="javascript:void(0);" class="edit-account-setting-button" id="editUserEmailLink" title="Изменить email">&nbsp;</a>
      </div>
      <div class="change-email-form-container hidden">
        {% include "ZnaikaProfileBundle:Default:change_email_form.html.twig" with {'form': changeUserEmailFrom} %}
      </div>
      <div class="change-password-controller">
        <span class="setting-label">Пароль</span>
        <span class="current-setting-value">********</span>
        <a href="javascript:void(0);" class="edit-account-setting-button" id="editUserPasswordLink" title="Изменить пароль">&nbsp;</a>
      </div>
      <div class="change-password-form-container hidden">
        {% include "ZnaikaProfileBundle:Default:change_password_form.html.twig" with {'form': changePasswordForm} %}
      </div>
    </div>
  </div>
{% endblock %}
