{{ form_start(form, {'attr': {'id': 'editTeacherProfileForm', 'class': 'edit-user-profile-form'}, 'action': path('edit_teacher_profile', {'userId': userId}), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.firstName, 'Имя') }}
    {{ form_errors(form.firstName) }}
    {{ form_widget(form.firstName, {'id': 'firstNameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.middleName, 'Отчество') }}
    {{ form_errors(form.middleName) }}
    {{ form_widget(form.middleName, {'id': 'middleNameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.lastName, 'Фамилия') }}
    {{ form_errors(form.lastName) }}
    {{ form_widget(form.lastName, {'id': 'lastNameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.nickname, 'Никнейм') }}
    {{ form_errors(form.nickname) }}
    {{ form_widget(form.nickname, {'id': 'nicknameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group sex-form">
    {{ form_label(form.sex, 'Пол') }}
    {{ form_errors(form.sex) }}
    {{ form_widget(form.sex, {'id': 'sexField', 'attr': {'class': 'form-control sex-field' }}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.teacherSubjects, 'Специализация') }}
    {{ form_errors(form.teacherSubjects) }}
    <ul class="teacher-subjects"
        data-prototype="{% filter escape %}{% include 'ZnaikaProfileBundle:Default:teacher_subject_prototype.html.twig' with {'form': form.teacherSubjects.vars.prototype} %}{% endfilter %}"
      >
      {% for subject in form.teacherSubjects %}
        <li>
          {% include 'ZnaikaProfileBundle:Default:teacher_subject_prototype.html.twig' with {'form': subject} %}
          <a href="javascript:void(0);" title="" class="remove-teacher-subject-link">Удалить специализацию</a>
        </li>
      {% endfor %}
    </ul>
    <a href="javascript:void(0);" title="" id="addTeacherSubjectLink">Добавить специализацию</a>
  </div>
  <div class="form-group input-group">
  <div class="form-group input-group region-form">
    {{ form_label(form.teacherExperience, 'Опыт преподавания') }}
    {{ form_errors(form.teacherExperience) }}
    {{ form_widget(form.teacherExperience, {'id': 'experienceField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.teacherAchievement, 'Достижения') }}
    {{ form_errors(form.teacherAchievement) }}
    {{ form_widget(form.teacherAchievement, {'id': 'achievementField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.region, 'Регион') }}
    {{ form_errors(form.region) }}
    {{ form_widget(form.region, {'id': 'regionField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group teacher-specialization-form">
    <label>Специализация</label>
    <div class="input-group">
      <select class="teacher-specialization">
        <option>Алгебра</option>
        <option>Геометрия</option>
        <option>Термодинамика</option>
      </select>
      <div class="active-link delete-specialization-link">
        Удалить
      </div>
    </div>
    <div class="input-group">
      <select class="teacher-specialization">
        <option>Алгебра</option>
        <option>Геометрия</option>
        <option>Термодинамика</option>
      </select>
      <div class="active-link delete-specialization-link">
        Удалить
      </div>
    </div>
    <div class="input-group">
      <div class="active-link add-specialization-link">
        Добавить
      </div>
    </div>
  </div>
  <div class="form-group input-group">
    {{ form_label(form.city, 'Город') }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'id': 'cityField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group date-form birthdate-container">
    {{ form_label(form.birthDate, 'Дата рождения') }}
    {{ form_errors(form.birthDate) }}
    {{ form_widget(form.birthDate, {'id': 'birthDateField', 'attr': {'class': 'date-select-block' }}) }}
  </div>
  <div class="save-user-profile-button-container">
    <button type="submit" class="semi-active-button save-user-profile-button">
      <span class="semi-active-button-label">Сохранить</span>
    </button>
  </div>
{{ form_end(form) }}