{{ form_start(form, {'attr': {'id': 'editUserProfileForm', 'class': 'edit-user-profile-form'}, 'action': path('edit_user_profile', {'userId': userId}), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.firstName, 'Имя') }}
    {{ form_errors(form.firstName) }}
    {{ form_widget(form.firstName, {'id': 'firstNameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.lastName, 'Фамилия') }}
    {{ form_errors(form.lastName) }}
    {{ form_widget(form.lastName, {'id': 'lastNameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.nickname, 'Никнейм') }}
    {{ form_errors(form.nickname) }}
    {{ form_widget(form.nickname, {'id': 'nicknameField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="form-group sex-form">
    {{ form_label(form.sex, 'Пол') }}
    {{ form_errors(form.sex) }}
    {{ form_widget(form.sex, {'id': 'sexField', 'attr': {'class': 'form-control sex-field' }}) }}
  </div>
  <div class="form-group grade-form">
    {{ form_label(form.grade, 'Класс') }}
    {{ form_errors(form.grade) }}
    {{ form_widget(form.grade, {'id': 'gradeField', 'attr': {'class': 'grade-select' }}) }}
  </div>
  <div class="form-group date-form birthdate-container">
    {{ form_label(form.birthDate, 'Дата рождения') }}
    {{ form_errors(form.birthDate) }}
    {{ form_widget(form.birthDate, {'id': 'birthDateField', 'attr': {'class': 'date-select-block' }}) }}
  </div>
  <div class="form-group region-form">
    {{ form_label(form.region, 'Регион') }}
    {{ form_errors(form.region) }}
    {{ form_widget(form.region, {'id': 'regionField', 'attr': {'class': '' }}) }}
  </div>
  <div class="form-group input-group">
    {{ form_label(form.city, 'Город') }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'id': 'cityField', 'attr': {'class': 'form-control' }}) }}
  </div>
  <div class="save-user-profile-button-container">
    <button type="submit" class="semi-active-button save-user-profile-button">
      <span class="semi-active-button-label">Сохранить</span>
    </button>
  </div>
{{ form_end(form) }}