<div class="user-parents-block">
  <span>Родители:</span>
  {% for relation in relations %}
    <div class="user-parent-block">
      {% if relation.approvedByParent %}
        <a href="{{ path("show_user_profile", {"userId": relation.parent.userId}) }}" title="{{ relation.parent }}">{{ relation.parent }}</a>
      {% else %}
        <span>{{ relation.parent }}</span>
      {% endif %}
      {% if not relation.approvedByChild %}
        <a href="{{ path('approve_parent', {'parentId': relation.parent.userId}) }}" title="" class="approve-parent-link">Подтвердить</a>
      {% endif %}
      <a href="{{ path('delete_parent', {'parentId': relation.parent.userId}) }}" title="" class="delete-parent-link">Удалить</a>
    </div>
  {% endfor %}
  {% if canAdd %}
    <a href="{{ path('search_parent') }}" title="" class="add-parent-link">Добавить</a>
  {% endif %}
</div>