<div class="photo-container">
  <img width="200" id="userAvatar"
       src="{{ user_photo_big_url(user) }}"
       title="Фотография"/>
</div>

<div id="uploadPhotoProgress" class="hidden">Загружается...</div>
{{ form_start(form, {'attr': {'id': 'editUserPhotoForm'}, 'action': url('edit_user_photo', {'userId': userId}), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="upload-photo-button-container">
    <a href="javascript:void(0);" class="{% if user.photoFileName %}non-active-button edit-photo-button{% else %}semi-active-button add-photo-button{% endif %}" id="editUserPhotoButton">
      {% if user.photoFileName %}
        <span class="non-active-button-label button-label">Изменить фото</span>
      {% else %}
        <span class="semi-active-button-label button-label">Добавить фото</span>
      {% endif %}
      <div class="form-group photo-button">
        {{ form_errors(form.photo) }}
        {{ form_widget(form.photo, {'id': 'submit'}) }}
      </div>
    </a>
  </div>

  <div class="delete-photo-button-container">
    <a href="javascript:void(0);" class="non-active-button delete-photo-button {% if not user.photoFileName %}hidden{% endif %}" id="deleteUserPhotoButton">
      <span class="non-active-button-label">Убрать фото</span>
    </a>
    <input type="hidden" id="userId" value="{{ user.userId }}"/>
    <input type="hidden" id="defaultPhotoUrl" value="{{ default_photo_big_url(user) }}" />
    <input type="hidden" id="defaultSmallPhotoUrl" value="{{ default_photo_small_url(user) }}" />
  </div>
{{ form_end(form) }}

<div id="uploadErrorPopup" class="popup mfp-hide">
  <div class="popup-content additional-form-container error-photo-popup">
    <div class="additional-form-header error-photo-header">
      <h3>Ошибка добавления фотографии</h3>
    </div>
    <div class="additional-form-header-horizontal-bar"></div>
    <h5>
      К сожалению, произошла ошибка. Пожалуйста, проверьте, соответствует ли фотография следующим требованиям:
    </h5>
    <ol>
      <li>Фотография должна иметь размер не меньше 300 точек и не больше 4000 точек по каждой из сторон.</li>
      <li>Размер одной стороны не должен более чем в 3 раза превышать размер другой стороны.</li>
      <li>Размер файла с фотографией не должен превышать 10 МБ.</li>
      <li>Фотография должна быть в формате JPG, PNG или GIF.</li>
    </ol>
    <div class="additional-form-button-container">
      <label class="upload-label active-button" for="submit">
        <span class="active-button-label">Выбрать фото</span>
      </label>
    </div>
    <div class="clear"></div>
  </div>
</div>