{% if not videos is empty %}
  <ul class="user-profile-page-list">
    {% set isFirst = true %}
    {% for video in videos %}
      <li class="{% if isFirst %}first{% endif %} open-video-comment-link" id="openVideoCommentLink{{ video.videoId }}">
        <div class="video-with-comments-list-item">
          <a href="javascript:void(0);" title="{{ video.name }}" class="">
            {{ video.name }}
          </a>
          <p class="video-breadcrumbs">
            {{ video.grade }} класс > {{ video.subject.name }} > {{ video.chapter.name }}
          </p>
        </div>
        <div class="right-count-column">
          <span class="list-count-container on-page-count-container not-verified-comments-count">{{ count_video_not_verified_comments(video) }}</span>
        </div>
      </li>
      {% set isFirst = false %}
    {% endfor %}
  </ul>
{% endif %}