<div class="navbar navbar-container navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path("znaika_frontend_homepage") }}"><img src="{{ asset("images/logo.png") }}" alt='Знайка' /></a>
    </div>
    <div class="navbar-collapse collapse">
      {{ knp_menu_render('main') }}
      <ul class="nav navbar-nav navbar-right">
        <li class="about_link">
          <form action="{{ path("search") }}" method="POST">
            <input type="search" name="search_string" class="form-control" placeholder="Поиск" />
          </form>
        </li>
        {% if app.user %}
          <li><a href="{{ path("show_user_profile", {"userId": app.user.userId}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a></li>
          <li><a href="{{ path("logout") }}">Выйти</a></li>
        {% else %}
          <li><a href="{{ path("register") }}">Регистрация</a></li>
          <li><a href="{{ path("try_login") }}">Вход</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>