<div class="header-container">
  <div class="navbar navbar-container" role="navigation">
    <div class="container col-right">
      <div class="col-center">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path("znaika_frontend_homepage") }}"><img src="{{ asset("images/logo.png") }}" alt='Знайка' /></a>
        </div>
      </div>
      <div class="navbar-collapse collapse col-right">
        <div class="main-menu-right col-center">
          <ul class="nav navbar-nav navbar-right">
            <li class="search-container">
              {{ search_form()|raw }}
              <div class="clear"></div>
            </li>

            {{ complete_social_registration_popup()|raw }}
            {% if is_user() %}
              <li>
                <div class="user-pic">
                  <img id="userSmallAvatar" width="30" src="{% if app.user.hasPhoto %}{{ app.user.getPhotoUrl }}{% else %}{{ asset('images/user-profile/user-photo-placeholder.png') }}{% endif %}" alt="" />
                </div>
              </li>
              <li>
                <a href="{{ path("show_user_profile", {"userId": app.user.userId}) }}" class="user-profile-link">{{ app.user }}</a>
              </li>
              <li>
                <a href="{{ path('logout') }}" title="Выход" class="logout-button">
                  <div class="logout-button-icon"></div>
                  <span>Выход</span>
                </a>
              </li>
            {% else %}
              <li>
                <div class="login-registration-buttons-container">
                  <a href="{{ path("try_login") }}" class="login-button">
                    <div class="login-button-icon"></div>
                    <span>Вход</span>
                  </a>
                  <div class="login-registration-buttons-delimiter"></div>
                  <a href="{{ path("register") }}" class="registration-button">
                    <span>Регистрация</span>
                  </a>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block sidebarmenu %}
    {% include "ZnaikaFrontendBundle:Menu:sidebar_menu.html.twig" %}
  {% endblock %}
</div>