<div class="navbar navbar-container navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path("znaika_frontend_homepage") }}"><img src="{{ asset("images/logo.png") }}" alt='Знайка' /></a>
    </div>
    <div class="navbar-collapse collapse col_right">
      {{ knp_menu_render('main') }}
      <div class="main_menu_right">
        <ul class="nav navbar-nav navbar-right">
          <li class="search_container">
            <form action="{{ path("search") }}" method="POST">
              <div class="input-group">
                <input type="text" class="form-control search_input" placeholder="Поиск видеоуроков" name="search_string" value="">
                <div class="input-group-btn search_button_containter">
                  <button type="submit" class="btn btn-success search_button"><span class="search_icon"></span></button>
                </div>
              </div>
            </form>
            <div class="clear"></div>
          </li>
          {% if app.user %}
            {# <li><a href="{{ path("show_user_profile", {"userId": app.user.userId}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a></li> //TODO: remove after New Year #}
            <li><a href="{{ path("logout") }}" class="btn btn-default login_button">Выйти</a></li>
          {% else %}
            <li><a href="{{ path("try_login") }}" class="btn btn-default login_button">Вход</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>