<div id="changePasswordOnRegisterCompletePopup" class="popup mfp-hide change-password-popup">
  <div class="popup-content">
    <h2>Поздравляем Вас с успешным завершением регистрации!</h2>
    <p>
      В целях исключения несанкционированного доступа к Вашему аккаунту рекомендуем Вам изменить пароль;
    </p>
    <h3>Сменить пароль</h3>
    {{ form_start(form, {'attr': {'id': 'changePasswordOnRegisterCompleteForm'}, 'action': path('change_password', {'userId': userId}), 'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
      <div class="form-group">
        {{ form_label(form.oldPassword, 'Текущий пароль') }}
        {{ form_errors(form.oldPassword) }}
        {{ form_widget(form.oldPassword, {'id': 'oldPasswordField', 'attr': {'class': 'form-control' }}) }}
      </div>
      <div class="form-group input-group show-password-button-container">
        {{ form_label(form.newPassword, 'Новый пароль') }}
        {{ form_errors(form.newPassword) }}
        {{ form_widget(form.newPassword, {'id': 'newPassword', 'attr': {'class': 'form-control password-input', 'placeholder': 'английские буквы, цифры и знаки'}}) }}
        <span class="show-password-icon"></span>
      </div>
      <button class="btn btn-primary">Изменить</button>
    {{ form_end(form) }}
    <a href="javascript:void(0);" id="closeChangePasswordPopup">Отмена</a>
  </div>
</div>