{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite'
    '@ZnaikaFrontendBundle/Resources/public/css/user_profile.css'
    '@ZnaikaFrontendBundle/Resources/public/css/teacher_profile.css'
  %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../app/Resources/public/js/classes/form/profile/EditProfileForm.class.js'
    '../app/Resources/public/js/classes/form/profile/UserPhotoForm.class.js'
    '../app/Resources/public/js/classes/form/profile/ChangePasswordForm.class.js'
    '../app/Resources/public/js/classes/form/profile/ChangeEmailForm.class.js'
    '../app/Resources/public/js/classes/page/profile/ProfilePage.class.js'
    '../app/Resources/public/js/classes/page/profile/TeacherProfilePage.class.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
      {{ flashMessage }}
    </div>
  {% endfor %}
  <div class="profile-sidebar-menu-container col-xs-3">
    {{ knp_menu_render('sidebar_profile_menu') }}
  </div>
  <div class="profile-form-container col-xs-9">
    <div class="col-xs-8">
      {% include "ZnaikaFrontendBundle:User:teacher_profile_form.html.twig" with {'form': profileForm} %}
      <div class="user-settings-container">
        <h3>Настройки аккаунта</h3>
        <div class="change-email-controller">
          <span>Email</span>
          <span>{{ user.email }}</span>
          <a href="javascript:void(0);" class="edit-account-setting-button" id="editUserEmailLink">Тут картинка карандашика</a>
        </div>
        <div class="change-email-form-container hidden">
          {% include "ZnaikaFrontendBundle:User:change_email_form.html.twig" with {'form': changeUserEmailFrom} %}
          <a class="cancel-edit-account">Отмена</a>
        </div>
        <div class="change-password-controller">
          <span>Пароль</span>
          <span>********</span>
          <a href="javascript:void(0);" class="edit-account-setting-button" id="editUserPasswordLink">Тут картинка карандашика</a>
        </div>
        <div class="change-password-form-container hidden">
          {% include "ZnaikaFrontendBundle:User:change_password_form.html.twig" with {'form': changePasswordForm} %}
          <a class="cancel-edit-account">Отмена</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {% include "ZnaikaFrontendBundle:User:user_photo_form.html.twig" with {'form': userPhotoForm} %}
    </div>
  </div>
{% endblock %}
