{{ form_start(form, {'attr': {'id': 'forgetPasswordForm', 'class': 'forget-password-form'}, 'action': path('password_recovery'), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.user, 'Email:') }}
    {{ form_widget(form.user, {'attr': {'class': 'form-control' }}) }}
    {{ form_errors(form.user) }}
  </div>
  <div class="forget-password-button-container">
    <button class="btn btn-primary forget-password-button" type="submit">Восстановить пароль</button>
  </div>
{{ form_end(form) }}