{{ form_start(form, {'attr': {'id': 'forgetPasswordForm', 'class': 'additional-form'}, 'action': path('password_recovery'), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.user, 'E-mail') }}
    {{ form_widget(form.user, {'attr': {'class': 'form-control' }}) }}
    {{ form_errors(form.user) }}
  </div>
  <div class="additional-form-button-container">
    <button class="active-button" type="submit">Восстановить пароль</button>
  </div>
{{ form_end(form) }}
<div class="clear"></div>