{{ form_start(form, {'attr': {'id': 'getNewPasswordForm', 'class': 'get-new-password-form'}, 'action': path('generate_password', {'recoveryKey': recoveryKey}), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.password, 'Новый пароль') }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.password) }}
  </div>
  <div class="recover-button-container">
    <button class="btn btn-primary forget-password-button" type="submit">Создать новый пароль</button>
  </div>
{{ form_end(form) }}