<div class="additional-form-container get-new-password-form-container">
  <div class="additional-form-header recover-password-request-header">
    <h3>Создание нового пароля</h3>
  </div>
  <div class="additional-form-header-horizontal-bar"></div>
  <h5>Введите парль, который Вы хотите использовать для входа на сайт Знайка.ру</h5>
  {{ form_start(form, {'attr': {'id': 'getNewPasswordForm', 'class': 'additional-form'}, 'action': path('generate_password', {'recoveryKey': recoveryKey}), 'method': 'POST'}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
    <div class="form-group input-group show-password-button-container">
      {{ form_label(form.password, 'Новый пароль') }}
      {{ form_widget(form.password, {'attr': {'class': 'form-control password-input'}}) }}
      {{ form_errors(form.password) }}
      <span class="show-password-icon"></span>
    </div>
  <div class="additional-form-button-container">
    <button class="active-button" type="submit">Создать новый пароль</button>
  </div>
  {{ form_end(form) }}
</div>