<div class="login-popup-right-column">
  <h5>Войти через соцсеть</h5>
  <div>
    <a href="{{ path("vk_login") }}">
      <img src="{{ asset("images/popup/vk_button.gif") }}" alt='Вконтакте'/>
    </a>
    <span>Вконтакте</span>
  </div>
  <div>
    <a href="{{ path("facebook_login") }}">
      <img src="{{ asset("images/popup/facebook_button.gif") }}" alt='Facebook'/>
    </a>
    <span>Facebook</span>
  </div>
  <div>
    <a href="{{ path("odnoklassniki_login") }}">
      <img src="{{ asset("images/popup/odnoklassniki_button.gif") }}" alt='Одноклассники'/>
    </a>
    <span>Одноклассники</span>
  </div>
</div>