<div class="popup login-popup-content">
  <div id="loginFormContainer">
    <div class="col-xs-8 col-center form-container">
      <div class="login-popup-left-column">
        <div class="login-popup-header">
          <h3>Войти</h3>
          <a href="javascript:void(0);" class="right-link" title="" id="switchRegistrationLink">Зарегистрироваться</a>
          <div class="clear"></div>
        </div>
        {% include "ZnaikaFrontendBundle:User:login_form.html.twig" with {'last_username': last_username, 'error': error, 'referrer': referrer} %}
      </div>
    </div>
    <div class="col-xs-4 col-center social-login-buttons-container">
      <div class="login-popup-right-column">
        <h5>Войти через соцсеть</h5>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/vk_button.gif") }}" alt='Вконтакте'/>
          </a>
          <span>Вконтакте</span>
        </div>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/facebook_button.gif") }}" alt='Facebook'/>
          </a>
          <span>Facebook</span>
        </div>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/odnoklassniki_button.gif") }}" alt='Одноклассники'/>
          </a>
          <span>Одноклассники</span>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="registrationFormContainer" class="hidden">
    <div class="col-xs-8 col-center form-container">
      <div class="login-popup-left-column">
        <div class="login-popup-header">
          <h3>Зарегистрироваться</h3>
          <a href="javascript:void(0);" class="right-link" title="" id="switchLoginLink">Войти</a>
          <div class="clear"></div>
        </div>
        {% include 'ZnaikaFrontendBundle:User:register_form.html.twig' with {'form': registerForm} %}
      </div>
    </div>
    <div class="col-xs-4 col-center social-login-buttons-container">
      <div class="login-popup-right-column">
        <h5>Зарегистрироваться через соцсеть</h5>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/vk_button.gif") }}" alt='Вконтакте'/>
          </a>
          <span>Вконтакте</span>
        </div>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/facebook_button.gif") }}" alt='Facebook'/>
          </a>
          <span>Facebook</span>
        </div>
        <div>
          <a href="javascript:void(0);">
            <img src="{{ asset("images/popup/odnoklassniki_button.gif") }}" alt='Одноклассники'/>
          </a>
          <span>Одноклассники</span>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>