{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
    '@ZnaikaFrontendBundle/Resources/public/css/tab_menu.css'
    '@ZnaikaFrontendBundle/Resources/public/css/profile_page.css'
    '@ZnaikaFrontendBundle/Resources/public/css/not_verified_comments.css'
  %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/page/profile/NotVerifiedCommentsPage.class.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="profile-sidebar-menu-container">
    {{ knp_menu_render('sidebar_profile_menu', {'allow_safe_labels': true}) }}
  </div>
  <div class="teacher-profile-container">
    <div class="">
      <div class="tabs-container">
        <ul class="nav nav-tabs select-content-tab user-profile-tab-menu">
          <li class="video active">
            <div class="active-top-border"></div>
            <a id="videoTab" href="#video_tab" data-toggle="tab">
              <div class="video-with-questions-tab-icon tab-icon"></div>
              <span>Уроки с комментариями</span>
            </a>
          </li>
          {% if countComments %}
            <li class="comments-tab hidden">
              <div class="active-top-border"></div>
              <a id="commentTab" href="#comments_tab" data-toggle="tab">
                <div class="comments-tab-icon tab-icon"></div>
                <span>Правка комментариев</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="tab-pane active video-tab" id="video_tab">
      {% include "ZnaikaFrontendBundle:User:video_with_not_verified_comments_list.html.twig" with {'videos': videos} %}
    </div>
    <div class="tab-pane comments-tab" id="comments_tab">
      {% include "ZnaikaFrontendBundle:User:moderator_comments_tab.html.twig" with {'videos': videos} %}
    </div>
  </div>
{% endblock %}
