{{ form_start(form, {'attr': {'id': 'registrationForm', 'class': 'registration-form'}, 'action': path('register'), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="form-group input-group">
    {{ form_label(form.user.email, 'E-mail') }}
    {{ form_widget(form.user.email, {'attr': {'class': 'form-control', 'placeholder': 'anna.petrova@mail.com' }}) }}
    {{ form_errors(form.user.email) }}
  </div>
  <div class="form-group input-group show-password-button-container{% if autoGeneratePassword is defined and autoGeneratePassword %} hidden{% endif %}">
    {{ form_label(form.user.password, 'Пароль') }}
    {{ form_widget(form.user.password, {'attr': {'class': 'form-control password-input', 'placeholder': 'английские буквы, цифры и знаки' }}) }}
    {{ form_errors(form.user.password) }}
    <span class="show-password-icon"></span>
  </div>
  <div class="form-group agreement-block">
    <span>
      Регистрируясь, вы принимаете<br />
      <a href="{{ path('agreement') }}" target="_blank" title="">Пользовательское соглашение Знайка.ру</a>
    </span>
  </div>
  <input type="hidden" name="autoGeneratePassword" value="{% if autoGeneratePassword is defined and autoGeneratePassword %}1{% endif %}" />
  <div class="registration-button-container">
    {{ form_widget(form.save, {'attr': {'class': 'active-button'}, 'label': 'Зарегистрироваться'}) }}
  </div>
{{ form_end(form) }}