{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    {% if ownProfile %}<a href="{{ path('show_threads') }}">Мои сообщения</a>{% endif %}
    {{ form_start(form, {'action': path('edit_user_profile', {'userId': userId}), 'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.firstName, 'Имя') }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}, 'disabled': not ownProfile}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.lastName, 'Фамилия') }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}, 'disabled': not ownProfile}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.email, 'Емайл') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}, 'disabled': not ownProfile}) }}
      </div>
      {% if ownProfile %}
        <div>
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сохранить'}) }}
        </div>
      {% endif %}
    {{ form_end(form) }}
    {% if app.user and not ownProfile %}
      <form action="{{ path('send_message') }}" method="post">
        <input type="hidden" name="from" value="{{ app.user.getUserId }}" />
        <input type="hidden" name="to" value="{{  userId }}" />
        <button type="submit" class="btn btn-primary">Написать</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
