{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    {{ form_start(form, {'action': path('edit_user_profile', {'userId': userId}), 'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.firstName, 'Имя') }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.lastName, 'Фамилия') }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.email, 'Емайл') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.city, 'Город') }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.school, 'Школа') }}
        {{ form_errors(form.school) }}
        {{ form_widget(form.school, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      <div class="form-group">
          {{ form_label(form.sex, 'Пол') }}
          {{ form_errors(form.sex) }}
          {{ form_widget(form.sex, {'attr': {'class': 'form-control'}, 'disabled': not canEdit}) }}
      </div>
      {% if canEdit %}
        <div>
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сохранить'}) }}
        </div>
      {% endif %}
    {{ form_end(form) }}
  </div>
{% endblock %}
