{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
      {{ flashMessage }}
    </div>
  {% endfor %}

  <div>
    <div>
      <span>Имя</span>
      <span>{{ user.firstName }}</span>
    </div>
    <div>
      <span>Фамилия</span>
      <span>{{ user.lastName }}</span>
    </div>
    <div>
      <span>Никнейм</span>
      <span>{{ user.nickname }}</span>
    </div>
    <div>
      <span>Пол</span>
      <span>{{ user.sex }}</span>
    </div>
    <div>
      <span>Класс</span>
      <span>{{ user.grade }}</span>
    </div>
    <div>
      <span>Дата рождения</span>
      <span>{{ user.birthDate|date("j M Y") }}</span>
    </div>
    <div>
      <span>Город</span>
      <span>{{ user.city }}</span>
    </div>
  </div>
{% endblock %}
