<div class="photo-container">
  <img width="200" id="userAvatar"
       src="
       {% if user.hasPhoto %}
         {{ user.getPhotoUrl }}
       {% else %}
         {% if user.role == 0 %}
           {{ asset("images/user-profile/user-photo-placeholder.png") }}
         {% else %}
           {{ asset("images/teacher-page/teacher-photo-placeholder.png") }}
         {% endif %}
       {% endif %}"
       title="Фотография"/>
</div>

<div id="uploadPhotoProgress" class="hidden">Загружается...</div>
{{ form_start(form, {'attr': {'id': 'editUserPhotoForm'}, 'action': url('edit_user_photo', {'userId': userId}), 'method': 'POST'}) }}
  {{ form_errors(form, {'attr': {'class': 'alert alert-danger' }}) }}
  <div class="upload-photo-button-container">
    <a href="javascript:void(0);" class="{% if user.hasPhoto %}non-active-button edit-photo-button{% else %}semi-active-button add-photo-button{% endif %}" id="editUserPhotoButton">
      {% if user.hasPhoto %}
        <span class="non-active-button-label button-label">Изменить фото</span>
      {% else %}
        <span class="semi-active-button-label button-label">Добавить фото</span>
      {% endif %}
    </a>
    <div class="form-group photo-button">
      {{ form_errors(form.photo) }}
      {{ form_widget(form.photo, {'id': 'submit'}) }}
    </div>
  </div>

  <div class="delete-photo-button-container">
    <a href="javascript:void(0);" class="non-active-button delete-photo-button {% if not user.hasPhoto %}hidden{% endif %}" id="deleteUserPhotoButton">
      <span class="non-active-button-label">Убрать фото</span>
    </a>
    <input type="hidden" id="userId" value="{{ user.userId }}"/>
    <input type="hidden" id="defaultPhotoUrl" value="{{ asset("images/user-profile/default-userpic.png") }}" />
  </div>
{{ form_end(form) }}

<div id="uploadErrorPopup" class="popup mfp-hide">
  <div class="popup-content">
    <h1>Ошибка добавления фотографии</h1>
    <p>
      К сожалению, произошла ошибка. Пожалуйста, проверьте, соответствует ли фотография следующим требованиям:
    </p>
    <ol>
      <li>Фотография должна иметь размер не меньше 300 точек и не больше 4000 точек по каждой из сторон.</li>
      <li>Размер одной стороны не должен более чем в 3 раза превышать размер другой стороны.</li>
      <li>Размер файла с фотографией не должен превышать 10 МБ.</li>
      <li>Фотография должна быть в формате JPG, PNG или GIF.</li>
    </ol>
    <label class="upload-label" for="submit">Выбрать фото</label>
    <div class="clear"></div>
  </div>
</div>