<div id="videoQuestions{{ video.videoId }}" class="video-questions-container hidden">
  <div class="tab-header">
    <h4>{{ video.name }} <span class="list-count-container user-questions-count">{{ count_video_questions(video) }}</span></h4>
    <p class="video-breadcrumbs">
      {{ video.grade }} класс > {{ video.subject.name }} > {{ video.chapter.name }}
    </p>
  </div>

  {% if not questions is empty %}
    <ul class="video-questions">
      {% set isFirst = true %}
      {% for question in questions %}
        <li class="{% if isFirst %}first{% endif %}" id="questionContainer{{ question.videoCommentId }}">
          <a class="pull-left" href="{{ path("not_verified_pupils", {"userId": question.user.userId}) }}">
            <img class="media-object"
                 width="50"
                 height="50"
                 src="{{ user_photo_url(question.user) }}"
                 alt="Здесь будет аватар автора"/>
          </a>
          <div class="media-body">
            <a class="" href="{{ path("not_verified_pupils", {"userId": question.user.userId}) }}">
              <span class="comment-author">{{ question.user }}</span>
            </a>
            <span class="comment-body">{{ comment_text(question) }}</span>
            <h6 class="media-heading comment-date">{{ comment_date(question.getCreatedTime) }}</h6>
          </div>
          <div class="clear"></div>
          {{ question_answer_form(question)|raw }}
        </li>
        {% set isFirst = false %}
      {% endfor %}
    </ul>
  {% endif %}
</div>