{% if not videos is empty %}
  <ul class="videos-with-questions-list">
    {% set isFirst = true %}
    {% for video in videos %}
      <li class="{% if isFirst %}first{% endif %}">
        <div class="video-with-questions-list-item">
          <a href="javascript:void(0);" title="{{ video.name }}"  class="open-video-question-link" id="openVideoQuestionLink{{ video.videoId }}">
            {{ video.name }}
          </a>
          <span class="user-questions-count">{{ count_video_questions(video) }}</span>
          <div class="clear"></div>
          <p class="video-breadcrumbs">
            {{ video.grade }} класс > {{ video.subject.name }} > {{ video.chapter.name }}
          </p>
        </div>
      </li>
      {% set isFirst = false %}
    {% endfor %}
  </ul>
{% endif %}