<div id="videoComments{{ video.videoId }}" class="video-comments-container hidden">
  <div class="tab-header">
    <h4>{{ video.name }} <span class="list-count-container not-verified-comments-count">+{{ comments|length }}</span></h4>
    <p class="video-breadcrumbs">
      {{ video.grade }} класс > {{ video.subject.name }} > {{ video.chapter.name }}
    </p>
  </div>

  {% if not comments is empty %}
    <ul class="video-comments">
      {% set count = 1 %}
      {% set maxShow = 10 %}
      {% for comment in comments %}
        <li class="{% if count > maxShow %}hidden{% endif %}{% if count == 1 %}first{% endif %}" id="commentContainer{{ comment.videoCommentId }}">
          <div class="comment-content">
            <a class="pull-left" href="{{ path("not_verified_pupils", {"userId": comment.user.userId}) }}">
              <img class="media-object"
                   width="50"
                   height="50"
                   src="{{ user_photo_small_url(comment.user) }}"
                   alt="Здесь будет аватар автора"/>
            </a>
            <div class="media-body">
              <a class="" href="{{ path("not_verified_pupils", {"userId": comment.user.userId}) }}">
                <span class="comment-author">{{ comment.user }}</span>
              </a>
              <span class="comment-body">{{ comment_text(comment) }}</span>
              <h6 class="media-heading comment-date">{{ comment_date(comment.getCreatedTime) }}</h6>
            </div>
          </div>
          <div class="approve-comment-buttons-container">
            <a title="" href="javascript:void(0);" class="semi-active-button approve-comment-link">
              <span class="semi-active-button-label">Одобрить</span>
            </a>
            <a title="" href="javascript:void(0);" class="semi-active-button delete-comment-link">
              <span class="semi-active-button-label">Удалить</span>
            </a>
          </div>
          <div class="clear"></div>
        </li>
        {% set count = count + 1 %}
      {% endfor %}
    </ul>
    {% if count > maxShow + 1 %}
      <div class="show-more-link show-more-comment-link">
        <a title="" href="javascript:void(0);" class="">
          Показать еще
        </a>
      </div>
    {% endif %}
    <div class="tab-footer-block approve-all-comments-block">
      <a title="" href="javascript:void(0);" class="active-button approve-all-comment-link approve-all-link">
        <span class="active-button-label">Одобрить все комментарии</span>
      </a>
    </div>
  {% endif %}
</div>