<div class="col-sm-11 col-left col-center">
  {{ form_start(form, {'attr': {'id': 'addCommentForm'}, 'action': path('add_video_comment_form', {"videoName": video.getUrlName}), 'method': 'POST'}) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
    <div class="form-group add-video-comment-container">
      {{ form_label(form.text, 'Ваш комментарий', {'label_attr': {'class': 'label-your-comment'}}) }}
      {{ form_errors(form.text) }}
      {{ form_widget(form.text, {'attr': {'class': 'form-control comment-text-field'}}) }}
      {% if has_question_for_current_user(video) %}
        <input type="hidden" name="isAnswer" value="1" id="isQuestionInput" />
        <input type="hidden" name="questionId" value="0" id="questionIdInput" />
      {% elseif not is_teacher() %}
        <a href="javascript:void(0);" id="isQuestionButton" class="question-comment-button" title="Нажмите, если хотите задать вопрос учителю">&nbsp;</a>
        <input type="hidden" name="isQuestion" value="0" id="isQuestionInput" />
      {% endif %}
    </div>
    <div>
      {{ form_widget(form.save, {'attr': {'class': 'active-button send-comment-button'}, 'label': 'Отправить'}) }}
    </div>
  {{ form_end(form) }}
</div>