{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="static-form-container add-video-page-container">
    <h3>{{ video.getName|raw }}</h3>
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'additional-form'}}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.file, 'Укажите архив') }}
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
      </div>
      <div class="buttons-container">
        <button type="submit" class="active-button">
          <span class="active-button-label">Сохранить</span>
        </button>
        {% if video is defined %}
          <a
            class="semi-active-button cancel-button"
            href="{{ path('show_video', { 'subjectName': video.getSubject.getUrlName, 'class': video.getGrade, 'videoName': video.getUrlName })}}">
            <span class="semi-active-button-label">Отмена</span>
          </a>
        {% endif %}
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}