{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div>
    <h1>{{ video.getName|raw }}</h1>
    {{ form_start(form, {'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.msWordFile, 'Исходный файл word') }}
        {{ form_errors(form.msWordFile) }}
        {{ form_widget(form.msWordFile) }}
      </div>
      <div class="form-group">
        {{ form_label(form.htmlFile, 'Укажите архив') }}
        {{ form_errors(form.htmlFile) }}
        {{ form_widget(form.htmlFile) }}
      </div>
      <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сохранить'}) }}
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}