{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-sm-12">
    <h1>{{ video.getName|raw }}</h1>
    {{ form_start(form, {'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.text, 'Конспект') }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сохранить'}) }}
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}