{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    {{ form_start(form, {'action': path('add_video_form'), 'method': 'POST'}) }}
      {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
      <div class="form-group">
        {{ form_label(form.name, 'Название') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.urlName, 'Ссылка') }}
        {{ form_errors(form.urlName) }}
        {{ form_widget(form.urlName, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.url, 'Youtube Id') }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.grade, 'Класс') }}
        {{ form_errors(form.grade) }}
        {{ form_widget(form.grade, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.subject, 'Предмет') }}
        {{ form_errors(form.subject) }}
        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.chapter, 'Глава') }}
        {{ form_errors(form.chapter) }}
        {{ form_widget(form.chapter, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сохранить'}) }}
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}