<h5 class="media-heading answer-comment-author-name">{{ comment.getUser.lastName }} {{ comment.getUser.firstName }} {{ comment.getUser.middleName }}, учитель</h5>
<h5 class="media-heading question-author-name">
  <img src="{{ asset('/images/video/answer-comment.png') }}" alt="Вопрос" />
  {{ comment.getQuestion.getUser }}, {{ comment_date(comment.getQuestion.getCreatedTime) }}
</h5>