{% if is_moderator() %}
  <div class="chapter-list-moderator-buttons-block">
    <a class="active-button add-button"
       href="{{ path('add_video_form', {"chapterName": chapter.urlName, "class": chapter.grade, "subjectName": chapter.subject.urlName}) }}"
       title="">
      <span class="active-button-label">Добавить видеоурок</span>
    </a>
    {% if currentVideo is defined and currentVideo == video %}
      <a class="semi-active-button video-down" href="javascript:void(0);">
        <span class="video-down-icon"></span>
      </a>
      <a class="semi-active-button video-up" href="javascript:void(0);">
        <span class="video-up-icon"></span>
      </a>
      <input type="hidden" value="{{ currentVideo.urlName }}" id="currentVideoName"/>
    {% endif %}
  </div>
{% endif %}
{% if currentVideo is defined and currentVideo.orderPriority > 2 and not is_moderator() %}
  <a id="showMoreChapterVideos" href="javascript:void(0);" class="show-more-videos">
    Показать предыдущие ({{ currentVideo.orderPriority - 2 }})
  </a>
{% endif %}
{% if not videos is empty %}
  <ul class="chapter-videos-list">
    {% for video in videos %}
      <li class="{% if currentVideo is defined and currentVideo == video %}chapter-selected-video{% endif %}
               {% if currentVideo is defined and currentVideo.orderPriority > video.orderPriority + 1 and not is_moderator() %}hidden{% endif %}">
        <div class="chapter-video">
          <div class="chapter-video-preview-container">
            <a href="{{ path('show_video', {
            'subjectName': video.getSubject.getUrlName,
            'class': video.getGrade,
            'videoName': video.getUrlName
            }) }}"
               title="{{ video.getName|raw }}">
              <div class="">
                <div class="over-play-sign"></div>
                <div class="over-video-duration">{{ video.duration|date("i:s") }}</div>
              </div>
              <img
                src="{{ small_video_thumbnail(video) }}"
                alt="{{ video.getName|raw }}"
                class="video-preview-image"
                />
            </a>
          </div>
          <div class="chapter-video-description-container">
            <a href="{{ path('show_video', {
            'subjectName': video.getSubject.getUrlName,
            'class': video.getGrade,
            'videoName': video.getUrlName
            }) }}"
               title="{{ video.getName|raw }}"
               class="video-title">
              {{ video.orderPriority }}.
              {{ video.getName|raw|length > 40 ? video.getName|raw|slice(0, 40) ~ '...' : video.getName|raw }}
            </a>

            <p class="video-author-in-list">{{ video.getAuthor|raw }}</p>

            <div>
              {% if not video.synopsis is empty %}
                <a
                  {% if currentVideo is defined and currentVideo == video %}id="currentVideoSynopsisLink"{% endif %}
                  href="{{ path('show_video', { 'subjectName': video.getSubject.getUrlName, 'class': video.getGrade, 'videoName': video.getUrlName, 'show': 'synopsis' })}}"
                  class="video-has-synopsis">
                </a>
                {% if not video.quiz is empty %}
                  <div class="icons-delimiter"></div>
                {% endif %}
              {% endif %}
              {% if not video.quiz is empty %}
                <a
                  {% if currentVideo is defined and currentVideo == video %}id="currentVideoQuizLink"{% endif %}
                  href="{{ path('show_video', { 'subjectName': video.getSubject.getUrlName, 'class': video.getGrade, 'videoName': video.getUrlName, 'show': 'quiz' })}}"
                  class="video-has-quiz">
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}