<h3>Разделы предмета &laquo;{{ subjectNameRussian }}&raquo;, {{ class }} класс</h3>
{% if is_moderator() %}
  <div class="moderator-buttons-block">
    <a class="semi-active-button add-chapter-button" href="javascript:void(0);">
      <span class="semi-active-button-label">Добавить раздел</span>
    </a>
    <a class="semi-active-button edit-chapter-button" href="javascript:void(0);">
      <span class="semi-active-button-label">Редактировать раздел</span>
    </a>
    <a class="semi-active-button save-changes-button disabled" href="javascript:void(0);">
      <span class="semi-active-button-label">Сохранить изменения</span>
    </a>
    <a class="semi-active-button chapter-down" href="javascript:void(0);">
      <span class="chapter-down-icon"></span>
    </a>
    <a class="semi-active-button chapter-up disabled" href="javascript:void(0);">
      <span class="chapter-up-icon"></span>
    </a>
  </div>
{% endif %}
{% if not chapters is empty %}
  <div class="chapters-list">
    <div class="chapters-list-vertical-line"></div>
    <div id="chaptersListRowPattern" class="chapter-description-container hidden">
      <div class="chapter-list-marker">&nbsp;</div>
      <a href="javascript:void(0);" title="" class="chapter-title-link" id="show_chapter_%chapterId%"></a>
      <input type="hidden" class="chapter-title-input" id="chapter_title_input_%chapterId%" value="" />
      <input type="hidden" class="chapter-order-input" id="chapter_order_%chapterId%" value=""/>
      <div class="chapter-selected-item-arrow"></div>
    </div>
    {% for chapter in chapters %}
      {% if ((not (chapter.videos.count == 0)) or is_moderator())%}
        <div id="chapter_container_{{ chapter.getChapterId }}" class="chapter-description-container{% if currentChapterId == chapter.getChapterId %} selected{% endif %}">
          <div class="chapter-list-marker">&nbsp;</div>
          <a href="javascript:void(0);" title="{{ chapter.getName|raw }}" class="chapter-title-link" id="show_chapter_{{ chapter.getChapterId }}">
            {{ chapter.getName|raw }}
          </a>
          <input type="hidden" class="chapter-title-input" id="chapter_title_input_{{ chapter.getChapterId }}" value="{{ chapter.getName|raw }}" />
          <input type="hidden" class="chapter-order-input" id="chapter_order_{{ chapter.getChapterId }}" value="{{ chapter.orderPriority }}"/>
          <div class="chapter-selected-item-arrow"></div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="chapters-list-bottom-horizontal-placeholder">
      <div class="line"></div>
    </div>
  </div>
{% endif %}
