{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block title %}{% if video %}{{ video.getName|raw }}{% endif %}{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite'
    '@ZnaikaFrontendBundle/Resources/public/css/show_video.css'
    '@ZnaikaFrontendBundle/Resources/public/css/videos_list.css'
  %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../app/Resources/public/js/classes/ShareLinks.class.js'
    '../app/Resources/public/js/classes/form/AddCommentForm.class.js'
    '../app/Resources/public/js/classes/page/ShowVideoPage.class.js'
    '../app/Resources/public/js/classes/page/VideosList.class.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% if isValidUrl %}
    <div class="col-md-8 col-center">
      <div class="video-view-container">
        <div class="clear"></div>
        <h1>{{ video.getName|raw }}</h1>

        <div class="col-center">
          <div class="tabs-and-social-buttons-container">
            <ul class="nav nav-tabs select-content-tab view-video-tab-menu">
              <li class="video active">
                <div class="active-top-border"></div>
                <a href="#video-tab" data-toggle="tab">
                  <div class="video-tab-icon"></div>
                  <span>Видеоурок</span>
                </a>
              </li>
              {% if ( video.getSynopsis and is_user() ) or is_moderator() %}
                <li class="synopsis">
                  <div class="active-top-border"></div>
                  <a href="#synopsis-tab" data-toggle="tab">
                    <div class="synopsis-tab-icon"></div>
                    <span>Конспект</span>
                  </a>
                </li>
              {% endif %}
              {% if ( video.getQuiz and is_user() ) or is_moderator() %}
                <li class="quiz">
                  <div class="active-top-border"></div>
                  <a href="#quiz-tab" data-toggle="tab">
                    <div class="quiz-tab-icon"></div>
                    <span>Тест</span>
                  </a>
                </li>
              {% endif %}
            </ul>
            <div class="video-buttons-container">
              {% include "ZnaikaFrontendBundle:Video:video_social_links.html.twig" with {
                'url': app.request.uri,
                'title': video.name,
                'img': video.getLargeThumbnailUrl,
                'desc': ( video.synopsis ) ? video.synopsis.text : ""
              } %}
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="tab-pane active" id="video-tab">
          {% if is_moderator() %}
            <a class="btn btn-primary" href="{{ path("edit_video_form", {"videoName": video.urlName}) }}">Редактировать
              видеоурок</a>
          {% endif %}
          {% include "ZnaikaFrontendBundle:Video:show_video_block.html.twig" with {'video': video} %}
        </div>
        <div class="tab-pane" id="synopsis-tab">
          {% include "ZnaikaFrontendBundle:Video:show_video_synopsis_block.html.twig" with {'video': video} %}
        </div>
        <div class="tab-pane" id="quiz-tab">
          {% include "ZnaikaFrontendBundle:Video:show_video_quiz_block.html.twig" with {'video': video, 'userQuizScore': userQuizScore} %}
        </div>
      </div>
      </div>
    <div class="col-md-4 col-center">
      <div class="chapter-videos-block-container">
        <div class="label-all-chapters">
          <a href="{{ path('show_catalogue_by_subject', {"subjectName": video.getSubject.getUrlName}) }}">Все разделы</a>
        </div>
        <div class="chapter-name">{{ video.chapter.name }}</div>
        <h5>Уроки этого раздела</h5>

        <div class="show-more-videos">
          <a href="javascript:void(0);">Показать предыдущие (69)</a>
        </div>
        {% include "ZnaikaFrontendBundle:Video:chapter_videos_block.html.twig" with {'videos': chapterVideos, 'currentVideo': video, "chapter": video.chapter} %}
      </div>
    </div>
  {% else %}
    <img src="{{ asset('images/404.jpg') }}" alt="Видео не найдено"/>
  {% endif %}
  <input id="videoName" type="hidden" value="{{ video.getUrlName }}"/>
{% endblock %}
