{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block title %}{% if video %}{{ video.getName }}{% endif %}{% endblock %}

{% block content %}
  {% if isValidUrl %}
    <h1>{{ video.getName }}</h1>

    <a href="{{ path('show_catalogue_by_class', {'class': classNumber}) }}" class="">{{ classNumber }} класс</a>
    >
    <a href="{{ path('show_catalogue', {'class': classNumber, 'subjectName': subject.getUrlName}) }}" class="">{{ subject.getName }}</a>
    >
    <span>{{ video.getName }}</span>
    <div clas="clear"></div>

    <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.getUrl }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
    <img src="{{ asset('images/404.jpg') }}" alt="Видео не найдено"/>
  {% endif %}
{% endblock %}
