{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block title %}{% if video %}{{ video.getName }}{% endif %}{% endblock %}

{% block content %}
  {% if video %}
    <h1>{{ video.getName }}</h1>

    <a href="{{ path('show_catalogue_by_class', {'class': classNumber}) }}" class="">{{ classNumber }} класс</a>
    >
    <a href="{{ path('show_catalogue', {'class': classNumber, 'subjectName': subject.getUrlName}) }}" class="">{{ subject.getName }}</a>
    >
    <span>{{ video.getName }}</span>
    <div class="clear"></div>

    <iframe src="//player.vimeo.com/video/{{ video.getUrl }}"
            width="500" height="375"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  {% endif %}
{% endblock %}
