{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block title %}{% if video %}{{ video.getName|raw }}{% endif %}{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite' '@ZnaikaFrontendBundle/Resources/public/css/show_video.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  {% if isValidUrl %}
    <h1>{{ video.getName|raw }}</h1>

    <a href="{{ path('show_catalogue_by_class', {'class': video.getGrade}) }}" class="">{{ video.getGrade }} класс</a>
    >
    <a href="{{ path('show_catalogue', {'class': video.getGrade, 'subjectName': video.getSubject.getUrlName}) }}" class="">{{ video.getSubject.getName }}</a>
    >
    <span>{{ video.getName|raw }}</span>
    <div class="clear"></div>

    <div class="video_player_container">
      <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.getUrl }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clear"></div>

    {% if viewVideoOperation %}
      <div class="video_view">
        Просмотрено: {{ viewVideoOperation.getCreatedTime|date('Y-m-d H:i:s') }}
      </div>
    {% endif %}

    {% include "ZnaikaFrontendBundle:Video:show_video_synopsis_block.html.twig" with {'video': video} %}
    {% include "ZnaikaFrontendBundle:Video:show_video_quiz_block.html.twig" with {'video': video} %}
    {% include "ZnaikaFrontendBundle:Video:show_video_attachments_block.html.twig" with {'video': video} %}
    {% include "ZnaikaFrontendBundle:Video:show_video_comments_block.html.twig" with {'video': video} %}
  {% else %}
    <img src="{{ asset('images/404.jpg') }}" alt="Видео не найдено"/>
  {% endif %}
{% endblock %}
