{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block title %}{% if video %}{{ video.getName|raw }}{% endif %}{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite' '@ZnaikaFrontendBundle/Resources/public/css/show_video.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  {% if isValidUrl %}
    <h1>{{ video.getName|raw }}</h1>

    <a href="{{ path('show_catalogue_by_class', {'class': video.getGrade}) }}" class="">{{ video.getGrade }} класс</a>
    >
    <a href="{{ path('show_catalogue', {'class': video.getGrade, 'subjectName': video.getSubject.getUrlName}) }}" class="">{{ video.getSubject.getName }}</a>
    >
    <span>{{ video.getName|raw }}</span>
    <div class="clear"></div>

    <div class="video_player_container">
      <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.getUrl }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clear"></div>

    {% if viewVideoOperation %}
      <div class="video_view">
        Просмотрено: {{ viewVideoOperation.getCreatedTime|date('Y-m-d H:i:s') }}
      </div>
    {% endif %}

    {% if video.getSynopsis %}
      <div>
        <pre>{{ video.getSynopsis.getText }}</pre>
      </div>
    {% elseif is_moderator() %}
      <a id="addSynopsis" href="{{ path('add_synopsis_form', {'videoName': video.getUrlName}) }}" class="btn btn-primary">Добавить конспект</a>
    {% endif %}

    {% if is_user() and not video.getQuizQuestions is empty %}
      <a id="addSynopsis" href="{{ path('show_quiz', {'videoName': video.getUrlName}) }}" class="btn btn-primary">Пройти тест</a>
    {% endif %}
    {% if is_moderator() %}
      <a id="createQuiz" href="{{ path('add_quiz_form', {'videoName': video.getUrlName}) }}" class="btn btn-primary">Добавить вопрос</a>
    {% endif %}

    {% if not video.getVideoComments is empty %}
      {% include "ZnaikaFrontendBundle:Video:video_comments.html.twig" with {'comments': video.getVideoComments}  %}
    {% endif %}
    {% if is_user() %}
      {% include "ZnaikaFrontendBundle:Video:add_video_comment_form.html.twig" with {'form': addVideoCommentForm, "videoName": video.getUrlName} %}
    {% endif %}

  {% else %}
    <img src="{{ asset('images/404.jpg') }}" alt="Видео не найдено"/>
  {% endif %}
{% endblock %}
