{% set countComments = count_video_comments(video) %}
{% if countComments %}
  <div class="comments-preloader">
    <img src="{{ asset("images/preloader.gif") }}" alt="загрузка" />
  </div>
  <div class="comments-container hidden">
    {% if countComments > constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE') %}
      <div class="show-more-link show-more-comments">
        <a href="javascript:void(0);" id="showPrevCommentsLink">
          {{ 'show_prev_comments'|transchoice(countComments - constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE')) }}
        </a>
        <input type="hidden" id="showPrevCommentsUrl" value="{{ path('get_prev_comments', {'videoName': video.getUrlName}) }}"/>
      </div>
      <div id="prevCommentsContainer" class="prev-comments-container"></div>
    {% endif %}
    <div id="lastCommentsContainer" class="last-comments-container"></div>
    <input type="hidden" id="getVideoLastCommentsUrl" value="{{ path('get_video_last_comments', {'videoName': video.getUrlName}) }}"/>
  </div>
{% endif %}
{% if has_question_for_current_user(video) %}
  {{ video_questions_block(video)|raw }}
{% elseif user_can_write_comment() %}
  {% include "ZnaikaFrontendBundle:Video:add_video_comment_form.html.twig" with {'form': addVideoCommentForm, "video": video} %}
{% elseif is_banned_user() %}
  <span>{% include "ZnaikaProfileBundle:Default:Ban\\ban_comment_message.html.twig" with {'user': app.user} %}</span>
{% else %}
  <div class="cant-leave-comment">
    Оставлять комментарии  и  задавать вопросы учителю могут только зарегистрированные и авторизованные пользователи
  </div>
{% endif %}