<div class="video-container">
  {% if is_moderator() %}
    <a class="semi-active-button edit-button" href="{{ path("edit_video_form", {"videoName": video.urlName}) }}">
      <span class="semi-active-button-label">Редактировать видеоурок</span>
    </a>
    <div class="clear"></div>
  {% endif %}
    <div class="video-player-container">
    <iframe src="//player.vimeo.com/video/{{ video.getUrl }}" width="100%" height="375" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="clear"></div>
  <div>
    <div class="video-info">
      {% set month = video.getCreatedTime|date('F') %}
      {% set year = video.getCreatedTime|date('Y') %}
      <div class="video-info-left-block">
        <div class="video-author">{{ video.getAuthor }}</div>
        <div class="video-date">{{ '%s %s'|format(month|trans, year) }}</div>
      </div>

      <div class="video-info-right-block">
        <div class="video-views-amount">{{ 'count_views'|transchoice(video.getViews) }}</div>
        <div class="views-and-likes-delimiter"></div>
        <div class="video-likes">
          <span class="likes-count">
            {{ video.likesCount }}
          </span>
          <a class="active-link video-like-button {% if is_user() %}can-like{% endif %}"
             id="videoLikeButton{{ video.videoId }}"
             title=""
             href="javascript:void(0);">
            Мне нравится
          </a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    {% include "ZnaikaFrontendBundle:Video:show_video_comments_block.html.twig" with {'video': video} %}
  </div>
</div>