{% if not videos is empty or is_moderator() %}
  <h2>Похожие видео</h2>
  {% if not videos is empty %}
    {% for video in videos %}
    <div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-left">
      <a href="{{ path('show_video', {
      'subjectName': video.getSubject.getUrlName,
      'class': video.getGrade,
      'videoName': video.getUrlName
      }) }}"
         title="{{ video.getName|raw }}">
        <img src="{{ video.getSmallThumbnailUrl }}" alt="{{ video.getName|raw }}"/>
      </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-right">
      <p><strong>Тема: </strong>{{ video.getName|raw }}</p>
      <a href="{{ path('show_video', {
        'subjectName': video.getSubject.getUrlName,
        'class': video.getGrade,
        'videoName': video.getUrlName
        }) }}"
         title="{{ video.getName|raw }}">
        Перейти к видео
      </a>
      </div>
    </div>
    <div class="clear"></div>
    <hr />
    {% endfor %}
  {% else %}
    <h5>Нет похожих.</h5>
  {% endif %}
  {% if is_moderator() %}
    <a href="{{ path('search_similar_video', {'videoName': video.getUrlName}) }}" class="btn btn-primary">
    Добавить похожее
    </a>
  {% endif %}
{% endif %}