{% set commentId = comment.videoCommentId %}

<li class="media comment-container {% if firstOrLast is defined %} {{ firstOrLast }} {% endif %}" id="comment{{ commentId }}">
  <a class="pull-left"
     href="{% if is_moderator() %}{{ path("not_verified_pupils", {"userId": comment.user.userId}) }}{% else %}javascript:void(0);{% endif %}">
    <img class="media-object"
         width="50"
         height="50"
         src="{{ user_photo_small_url(comment.user) }}"
         alt="{{ comment.user }}"/>
  </a>
  <div class="media-body">
    <a class=""
       href="{% if is_moderator() %}{{ path("not_verified_pupils", {"userId": comment.user.userId}) }}{% else %}javascript:void(0);{% endif %}">
      {{ comment_title(comment)|raw }}
    </a>
    <span class="comment-body">{{ comment_text(comment) }}</span>
    <div class="media-heading comment-date-and-like">
      <div class="comment-date">{{ comment_date(comment.getCreatedTime) }}</div>
      <div class="date-and-like-delimiter"></div>
      <div class="video-comment-likes">
        <span class="likes-count">
         {{ comment.likesCount }}
        </span>
        <a class="non-active-link comment-like-button {% if is_user() %}can-like{% endif %}"
           id="commentLikeButton{{ commentId }}"
           title=""
           href="javascript:void(0);">
          Мне нравится
        </a>
      </div>
    </div>
    <div class="clear"></div>
    {% set commentAnswerBlock = comment_answer_block(comment) %}
    {% if commentAnswerBlock %}
      {{ commentAnswerBlock|raw }}
    {% endif %}
  </div>
</li>