{% if videos %}
  {% for video in videos %}
    <div class="video-description-container">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <a href="{{ path('show_video', {
                    'subjectName': video.getSubject.getUrlName,
                    'class': video.getGrade,
                    'videoName': video.getUrlName
                    }) }}"
           title="{{ video.getName }}">
          <img src="{{ video.getThumbnailUrl }}" alt="{{ video.getName }}" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-7">
        <h2>{{ video.getName }}</h2>
        <h3>{{ video.getGrade }} класс</h3>
        <h3>{{ video.getSubject.getName }}</h3>
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}
{% else %}
  <h1>Пока что пусто</h1>
{% endif %}