<h3>Комментарии</h3>
<ul class="media-list">
  {% for comment in comments %}
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width="60" height="60" src="{{ asset('images/404.jpg') }}" alt="Здесь будет аватар автора"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{ comment.getUser.getFirstName }} {{ comment.getUser.getLastName }}</h4>
        <h6 class="media-heading"><em>{{ comment.getCreatedTime|date('Y-m-d H:i:s') }}</em></h6>
        {{ comment.getText }}
      </div>
    </li>
  {% endfor %}
</ul>