<ul class="media-list">
  {% for comment in comments %}
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object"
             width="60"
             height="60"
             src="{% if comment.user.hasPhoto %}{{ comment.user.getPhotoUrl }}{% else %}{{ asset('images/user-profile/user-photo-placeholder.png') }}{% endif %}"
             alt="Здесь будет аватар автора"/>
      </a>
      <div class="media-body">
        {{ comment_title(comment)|raw }}
        <span class="comment-body">{{ comment.getText }}</span>
        <h6 class="media-heading comment-date">{{ comment_date(comment.getCreatedTime) }}</h6>
      </div>
    </li>
  {% endfor %}
</ul>