{% extends 'ZnaikaProfileBundle::Default/user_page_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
    '@ZnaikaProfileBundle/Resources/public/css/messages.css'
    '@ZnaikaProfileBundle/Resources/public/css/user_search.css'
  %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/form/profile/SendMessageForm.class.js'
    '../app/Resources/public/js/classes/page/profile/SearchUserTab.class.js'
    '../app/Resources/public/js/classes/page/profile/MessagesPage.class.js'
    '../app/Resources/public/js/classes/PageUpDownScroller.class.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block pageContent %}
  <div class="">
    <div class="tabs-container">
      <ul class="nav nav-tabs select-content-tab user-profile-tab-menu">
        <li class="threads-tab {% if not recipientId %}active{% endif %}">
          <div class="active-top-border"></div>
          <a id="threadsTab" href="#threads" data-toggle="tab">
            <span class="tab-label">Диалоги</span>
          </a>
        </li>
        <li class="watch-threads-tab {% if recipientId %}active{% else %}hidden{% endif %}">
          <div class="active-top-border"></div>
          <a id="watchThreadsTab" href="#watchThreads" data-toggle="tab">
            <span class="tab-label">Просмотр диалогов</span>
          </a>
        </li>
        <li class="search-users-tab">
          <div class="active-top-border"></div>
          <a id="searchUsersTab" href="#searchUsers" data-toggle="tab">
            <span class="tab-label">Поиск людей</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-pane {% if not recipientId %}active{% endif %}" id="threads">
    <div class="empty-pupils-message-container {% if threads|length  %}hidden{% endif %}">
      <div class="empty-result-message">
        У вас нет диалогов. Чтобы начать новый диалог, найдите собеседника в
        <a href="javascript:void(0);" title="" id="searchUsersLinkFromEmptyThreads" data-toggle="tab">
          поиске людей
        </a>.
      </div>
    </div>
    <div class="not-empty-pupils-container {% if not threads|length  %}hidden{% endif %}">
      <div class="tab-header">
        <select id="messagesFilter">
          {% for filter in filters|keys %}
            <option value="{{ path("show_threads", {"f": filter}) }}" {% if currentFilter == filter %}selected="selected"{% endif %}>{{ filters[filter] }}</option>
          {% endfor %}
        </select>
        <h4>Диалогов: <span class="count-threads">{{ threads|length }}</span></h4>
        <div class="clear"></div>
      </div>
      {% include "ZnaikaFrontendBundle:Message:thread_list.html.twig" with {'threads': threads} %}
    </div>
  </div>

  <div class="tab-pane {% if recipientId %}active{% endif %}" id="watchThreads">
    <div class="thread-preloader {% if not recipientId %}hidden{% endif %}">
      <img src="{{ asset("images/preloader.gif") }}" alt="Диалог загружается..." />
    </div>
    <div class="thread-container"></div>
    <input type="hidden" id="recipientId" value="{{ recipientId }}"/>
  </div>

  <div class="tab-pane" id="searchUsers">
    <div class="user-search-result-container">
      <div class="users-search-container hidden">
        <div class="tab-header">
          <h4>Найдено людей: <span id="foundedUsersCount">0</span></h4>
        </div>
        <ul id="usersContainer" class="users-search-container"></ul>
        <a id="moreUsers" href="javascript:void(0);" title="">Больше пользователей</a>
      </div>
      <div id="searchUsersLoadingIndicator" class="users-search-preloader">
        <img src="{{ asset("images/preloader.gif") }}" alt="Ищем людей..." />
      </div>
    </div>
    <div class="user-search-filters-container filters-block">
      <div class="input-group">
        <span class="search-icon"></span>
        <input type="text" placeholder="ФИО или никнейм" id="searchUserNameInput" class="form-control" />
      </div>
      <label class="user-search-filters-label">
        Регион
      </label>
      <div class="input-group">
        {{ search_user_region_filter()|raw }}
      </div>
      <label class="user-search-filters-label">
        Возраст
      </label>
      <div class="input-group age-filter">
        {{ search_user_age_filter()|raw }}
      </div>
      <label class="user-search-filters-label">
        Пол
      </label>
      <div class="input-group">
        {{ search_user_sex_filter()|raw }}
      </div>
      <label class="user-search-filters-label">
        Искать среди
      </label>
      <div class="input-group role-filter">
        {{ search_user_role_filter()|raw }}
      </div>
      <a id="searchUsersButton" class="active-button start-search-button" href="javascript:void(0);" title="">
        <span class="active-button-label">Начать поиск</span>
      </a>
    </div>
  </div>
{% endblock %}
