{% block footer %}
  <div class="footer-horizontal-bar"></div>
  <div class="footer-container">
    <div class="footer-social-buttons-block">
      <div class="footer-social-button">
        <a href="javascript:void(0);" class="footer-vk" title="Поделиться в ВК"></a>
      </div>
      <div class="footer-social-button">
        <a href="javascript:void(0);" class="footer-facebook" title="Поделиться в facebook"></a>
      </div>
      <div class="footer-social-button">
        <a href="javascript:void(0);" class="footer-twitter" title="Поделиться в twitter"></a>
      </div>
      <div class="footer-social-button">
        <a href="javascript:void(0);" class="footer-odnoklassniki" title="Поделиться в одноклассниках"></a>
      </div>
    </div>
    <div class="footer-links-block">
      <a href="{{ path('about') }}" class="footer-link">О сайте Знайка.Ру</a>
      <a href="{{ path('support') }}" class="footer-link">Помощь</a>
      <a href="{{ path('rules') }}" class="footer-link">Правила</a>
      <a href="{{ path('contacts') }}" class="footer-link">Контакты</a>
    </div>
    <div class="footer-copyright-container">
      <span>&copy; 2013-{{ "now"|date("Y") }} ООО "Знайка"</span>
    </div>
  </div>
{% endblock %}