{% block footer %}
  <div class="footer-horizontal-bar"></div>
  <div class="footer-container">
    <div class="footer-social-buttons-block">
      {% set prefix = "footer_social_link_" %}
      <div class="footer-social-button">
        <a
          id="{{ vk_button_id(prefix) }}"
          href="http://vk.com/share.php?url={{ url('znaika_frontend_homepage') }}&amp;title={{ "Знайка.Ру"|url_encode }}&amp;noparse=true"
          class="footer-vk"
          target="_blank"
          title="Поделиться в ВК">
        </a>
      </div>
      <div class="footer-social-button">
        <a
          id="{{ facebook_button_id(prefix) }}"
          href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Btitle%5D={{ "Знайка.Ру"|url_encode }}&amp;p%5Burl%5D={{ url('znaika_frontend_homepage') }}"
          class="footer-facebook"
          target="_blank"
          title="Поделиться в facebook">
        </a>
      </div>
      <div class="footer-social-button">
        <a
          id="{{ twitter_button_id(prefix) }}"
          href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&amp;text={{ "Знайка.Ру"|url_encode }}&amp;url={{ url('znaika_frontend_homepage') }}"
          class="footer-twitter"
          target="_blank"
          title="Поделиться в twitter">
        </a>
      </div>
      <div class="footer-social-button">
        <a
          id="{{ odnoklassniki_button_id(prefix) }}"
          href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st._surl={{ url('znaika_frontend_homepage') }}"
          class="footer-odnoklassniki"
          target="_blank"
          title="Поделиться в одноклассниках">
        </a>
      </div>
    </div>
    <div class="footer-links-block">
      <a href="{{ path('about') }}" class="footer-link">О проекте</a>
      <a href="{{ path('support') }}" class="footer-link">Напишите нам!</a>
      <a href="{{ path('rules') }}" class="footer-link">Пользовательское соглашение</a>
      <a href="{{ path('contacts') }}" class="footer-link">Контакты</a>
    </div>
    <div class="footer-copyright-container">
      <span>&copy; 2013-{{ "now"|date("Y") }} ООО "Знайка"</span>
    </div>
  </div>
{% endblock %}