{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets '@ZnaikaFrontendBundle/Resources/public/css/index.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="index-content">
    <div class="index-top-videos-block">
      <div class="index-page-top-video col_center col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <h2>
          Смотрите видеоуроки от лучших учителей России на федеральном
          образовательном портале Знайка.Ру
        </h2>
        <div>
          <img src="{{ asset('/images/video-center-dummy.jpg') }}" alt="Видео по центру"/>
        </div>
        <span class="learn-more">
          <a href="javascript:void(0)">Узнать подробнее о проекте Знайка.Ру</a>
        </span>
      </div>
      <div class="index-page-videos-list col-lg-2 col-md-6 col-sm-6 col-xs-12">
        {{ newest_video()|raw }}
        <span class="get-more-videos">
          <a href="javascript:void(0)">Все новинки</a>
        </span>
      </div>
      <div class="index-page-videos-list col-lg-2 col-md-6 col-sm-6 col-xs-12">
        {{ popular_video()|raw }}
        <span class="get-more-videos">
          <a href="javascript:void(0)">Все популярные</a>
        </span>
      </div>
    </div>
    <div class="clear"></div>
    <div class="social-buttons-block col-lg-12 col-xs-12">
      <div class="social-buttons-container col-lg-4 col-md-4 col-sm-offset-4 col-sm-5 col-xs-12">
        <div class="social-buttons-text">
          <h5>Быстрый вход</h5>
        </div>
        <div class="social-button">
          <a href="javascript:void(0)">
            <img src="{{ asset('/images/index/social-buttons/vk.jpg') }}" alt="Войти через ВК" />
          </a>
        </div>
        <div class="social-button">
          <a href="javascript:void(0)">
            <img src="{{  asset('/images/index/social-buttons/facebook.jpg') }}" alt="Войти через facebook" />
          </a>
        </div>
        <div class="social-button">
          <a href="javascript:void(0)">
            <img src="{{ asset('/images/index/social-buttons/twitter.jpg') }}" alt="Войти через twitter" />
          </a>
        </div>
        <div class="social-button">
          <a href="javascript:void(0)">
            <img src="{{ asset('/images/index/social-buttons/odnoklassniki.jpg') }}" alt="Войти через одноклассники" />
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="ratings">
      {{ newest_user_operation()|raw }}
      {{ newest_user_badge()|raw }}
      {{ top_user_by_points()|raw }}
    </div>
    <div class="clear"></div>
    <div class="subscribe-block col_center col-lg-8 col-sm-12 col-xs-12">
      <hr />
      <div class="subscribe-text col_center col-sm-5 col-xs-12">
        <h4>Видеоуроки на почту</h4>
        <h5>
          Получайте свежие видеоуроки
          прямо на свой e-mail
        </h5>
      </div>
      <form class="subscribe-form col-sm-7 col-xs-12">
        <div class="subscribe-email">
          <input type="text" placeholder="anna.petrova@mail.com" />
        </div>
        <input type="submit" class="subscribe-button" value="Подписаться"/>
      </form>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}