{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets '@ZnaikaFrontendBundle/Resources/public/css/index.css' filter="?yui_css" %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
  '../app/Resources/public/js/classes/page/VideosList.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="index-content">
    <img width="998" height="300" src="{{ asset('/images/index-top-picture.jpg') }}" alt="Инфографика" />
    <div class="index-top-videos-block">
      <div class="index-page-videos-list-container">
        <div class="">
          <div class="index-page-videos-list">
            {{ popular_video()|raw }}
          </div>
        </div>
        <div class="">
          <div class="index-page-videos-list">
            {{ newest_video()|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}