{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets '@ZnaikaFrontendBundle/Resources/public/css/index.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="index-content">
    <div class="index-top-videos-block">
      <div class="index-page-top-video">
        <h2>
          Смотрите видеоуроки от лучших учителей России на федеральном
          образовательном портале Знайка.Ру
        </h2>

        <div>
          <img src="{{ asset('/images/pics__delete/video-center.jpg') }}" alt="Видео по центру"/>
        </div>
        <span class="learn-more">
          <a href="#">Узнать подробнее о проекте Знайка.Ру</a>
        </span>
      </div>
      <div class="index-page-videos-list">
        {{ newest_video()|raw }}
        <span class="get-more-videos">
          <a href="#">Все новинки</a>
        </span>
      </div>
      <div class="index-page-videos-list">
        {{ popular_video()|raw }}
        <span class="get-more-videos">
          <a href="#">Все популярные</a>
        </span>
      </div>
    </div>
    <div class="clear"></div>
    <div class="social-buttons-block">
      <div class="social-buttons-container">
        <div class="social-buttons-text">
          <h5>Быстрый вход</h5>
        </div>
        <div class="social-button">
          <a href="#">
            <img src="/images/index/social-buttons/vk.jpg" />
          </a>
        </div>
        <div class="social-button">
          <a href="#">
            <img src="/images/index/social-buttons/facebook.jpg" />
          </a>
        </div>
        <div class="social-button">
          <a href="#">
            <img src="/images/index/social-buttons/twitter.jpg" />
          </a>
        </div>
        <div class="social-button">
          <a href="#">
            <img src="/images/index/social-buttons/odnoklassniki.jpg" />
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="ratings">
      {{ newest_user_operation()|raw }}
      {{ newest_user_badge()|raw }}
      {{ top_user_by_points()|raw }}
    </div>
    <div class="clear"></div>
    <div class="subscribe-block col_center col-lg-8">
      <hr />
      <div class="subscribe-convert-sign"></div>
      <div class="subscribe-text col_center col-lg-4">
        <h4>Видеоуроки на почту</h4>
        <h5>
          Получайте свежие видеоуроки
          прямо на свой e-mail
        </h5>
      </div>
      <div class="subscribe-form">
        <div class="subscribe-email">
          <input type="text" value="anna.petrova@mail.com" />
        </div>
        <input type="submit" class="subscribe-button" value="Подписаться"/>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}