{% if not videos is empty %}
  {% for video in videos %}
    <div class="search-result-container col-lg-6 col-xs-12">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="{{ path('show_video', {
                      'subjectName': video.getSubject.getUrlName,
                      'class': video.getGrade,
                      'videoName': video.getUrlName
                      }) }}"
           title="{{ video.getName|raw }}">
          <img src="{{ video.getSmallThumbnailUrl }}" alt="{{ video.getName|raw }}" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <h5><strong>Класс: </strong>{{ video.getGrade }}</h5>
        <h5><strong>Предмет: </strong>{{ video.getSubject.getName }}</h5>
        <h5><strong>Глава: </strong>{{ video.getChapter.getName }}</h5>
        <h5><strong>Тема: </strong>{{ video.getName|raw }}</h5>
        <a href="{{ path('show_video', {
                      'subjectName': video.getSubject.getUrlName,
                      'class': video.getGrade,
                      'videoName': video.getUrlName
                      }) }}"
           title="{{ video.getName|raw }}">
          Перейти к видео
        </a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h5>Не найдено</h5>
{% endif %}