{% if not videos is empty %}
  {% for video in videos %}
    <div class="search-video-result-container
                search-video-chapter-{{ video.getChapter.getChapterId }}"
      >
      <div class="col-center">
        <div class="chapter-video-preview-container">
          <a href="{{ path('show_video', {
          'subjectName': video.getSubject.getUrlName,
          'class': video.getGrade,
          'videoName': video.getUrlName
          }) }}"
             title="{{ video.getName|raw }}">
            <div class="over-elements-container">
              <div class="over-play-sign"></div>
              <div class="over-duration-length">{{ video.duration|date("i:s") }}</div>
            </div>
            <img
              src="{{ small_video_thumbnail(video) }}"
              alt="{{ video.getName|raw }}"
              class="video-preview-image"
              />
          </a>
        </div>
      </div>
      <div class="video-text-block">
        <a href="{{ path('show_video', {
        'subjectName': video.getSubject.getUrlName,
        'class': video.getGrade,
        'videoName': video.getUrlName
        }) }}"
           class="video-title"
           title="{{ video.getName|raw }}">
          {{ video.getName|raw }}
        </a>
        <p class="search-video-breadcrumbs">{{ video.grade }} класс > {{ video.subject.name }}>
          {{ video.chapter.name }}
        </p>
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}
{% endif %}