{% extends 'ZnaikaProfileBundle::Default/user_page_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
    '@ZnaikaProfileBundle/Resources/public/css/user_profile.css'
    '@ZnaikaProfileBundle/Resources/public/css/user_search.css'
  %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/page/profile/SearchUserTab.class.js'
    '../app/Resources/public/js/classes/page/SearchParentPage.class.js'
    '../app/Resources/public/js/classes/PageUpDownScroller.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block pageContent %}
  <div class="">
    <div class="tabs-container">
      <ul class="nav nav-tabs select-content-tab user-profile-tab-menu">
        <li class="search-users-tab active">
          <div class="active-top-border"></div>
          <a id="searchUsersTab" href="#searchUsers" data-toggle="tab">
            <span class="tab-label">Поиск Родителей</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-pane active" id="searchUsers">
    <div class="user-search-result-container">
      <div class="users-search-container hidden">
        <div class="tab-header">
          <h4>Найдено людей: <span id="foundedUsersCount">0</span></h4>
        </div>
        <ul id="usersContainer" class="users-search-container"></ul>
        <a id="moreUsers" href="javascript:void(0);" title="">Больше пользователей</a>
      </div>
      <div id="searchUsersLoadingIndicator" class="users-search-preloader">
        <img src="{{ asset("images/preloader.gif") }}" alt="Ищем людей..." />
      </div>
    </div>
    <div class="user-search-filters-container filters-block">
      <div class="input-group">
        <span class="search-icon"></span>
        <input type="text" placeholder="ФИО или никнейм" id="searchUserNameInput" class="form-control" />
      </div>
      <label class="user-search-filters-label">
        Регион
      </label>
      <div class="input-group">
        {{ search_user_region_filter()|raw }}
      </div>
      <label class="user-search-filters-label">
        Возраст
      </label>
      <div class="input-group age-filter">
        {{ search_user_age_filter()|raw }}
      </div>
      <label class="user-search-filters-label">
        Пол
      </label>
      <div class="input-group">
        {{ search_user_sex_filter()|raw }}
      </div>
      <a id="searchUsersButton" class="active-button start-search-button" href="javascript:void(0);" title="">
        <span class="active-button-label">Начать поиск</span>
      </a>
    </div>
  </div>
{% endblock %}
