{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite' '@ZnaikaFrontendBundle/Resources/public/css/search.css' %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <h1>Добавление похожего видео</h1>
  <div>
    <form method="post">
      <div class="input-group">
        <input type="text" class="form-control search_input" placeholder="Имя похожего видео" name="similar_video_name_string" value="{{ searchString }}">
        <div class="input-group-btn search_button_containter">
          <button type="submit" class="btn btn-success search_button"><span class="search_icon"></span></button>
        </div>
      </div>
    </form>
    <br/>
    {% if not videos is empty %}
      {% for video in videos %}
        <div class="col-lg-6 col-xs-12">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img width="100" src="{{ video.getThumbnailUrl }}" alt="{{ video.getName|raw }}" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <h5><strong>Класс: </strong>{{ video.getGrade }}</h5>
            <h5><strong>Предмет: </strong>{{ video.getSubject.getName }}</h5>
            <h5><strong>Глава: </strong>{{ video.getChapter.getName }}</h5>
            <h5><strong>Тема: </strong>{{ video.getName|raw }}</h5>
            <a
              href="{{ path('add_video_similar', { 'videoName': videoName, 'similarVideoName': video.getUrlName }) }}"
              title="{{ video.getName|raw }}">
              Добавить в похожие
            </a>
          </div>
        </div>
      {% endfor %}
    {% elseif searchString %}
      <h5>Не найдено</h5>
    {% endif %}
  </div>
{% endblock %}
