{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
    '@ZnaikaFrontendBundle/Resources/public/css/videos_list.css'
    '@ZnaikaFrontendBundle/Resources/public/css/search.css'
  %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/page/SearchVideoPage.class.js'
    '../app/Resources/public/js/classes/PageUpDownScroller.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="show-catalog-page-container">
    <div id="videoContainer" class="chapter-catalog-container">
      {% if videos|length %}
        <h4>{{ 'founded_video_lessons'|transchoice(countVideos) }}</h4>
      {% else %}
        <h5>По запросу "{{ searchString }}" ничего не найдено</h5>
      {% endif %}
      {% include "ZnaikaFrontendBundle:Search:search_video_list.html.twig" with {'videos': videos} %}
    </div>
    <div class="filters-block-container">
      {% include "ZnaikaFrontendBundle:Search:filters_block.html.twig" %}
    </div>
  </div>
  <div class="clear"></div>
  {% if not isFinalPage %}
    <div>
      <a id="moreVideos" href="javascript:void(0);" title="">Еще</a>
      <span id="loadingIndicator" class="loading-indicator hidden">Загружается...</span>
    </div>
  {% endif %}
  <input id="searchString" type="hidden" value="{{ searchString }}" />
  <input id="isFinalPage" type="hidden" value="{{ isFinalPage }}" />
  {% include "ZnaikaFrontendBundle:Default:up_down_scroll_block.html.twig" %}
{% endblock %}
