{% if videos %}
  {% for video in videos %}
    <div class="search_result_container col-lg-6 col-xs-12">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="{{ path('show_video', {
                    'subjectName': video.getSubject.getUrlName,
                    'class': video.getGrade,
                    'videoName': video.getUrlName
                    }) }}"
           title="{{ video.getName }}">
          <img width="100" src="{{ video.getThumbnailUrl }}" alt="{{ video.getName }}" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <h5><strong>Класс: </strong>{{ video.getGrade }}</h5>
        <h5><strong>Предмет: </strong>{{ video.getSubject.getName }}</h5>
        {% if video.getChapter %}<!-- TODO: remove after adding all chapter's features -->
          <h5><strong>Глава: </strong>{{ video.getChapter.getName }}</h5>
        {% endif %}
        <h5><strong>Тема: </strong>{{ video.getName }}</h5>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h1>Видео не найдено</h1>
{% endif %}