{% if users %}
  {% for user in users %}
    <li class="" id="userContainer{{ user.UserId }}">
      <a id="openUserProfile{{ user.userId }}" class="show-user-profile-link" href="javascript:void(0);">
        <img class="media-object thread-user-pic"
                 width="50"
                 height="50"
                 src="{{ user_photo_small_url(user) }}"
                 alt="Здесь будет аватар"/>
      </a>
      <div class="message-text-data">
        <div class="message-user-name">
          <a id="openUserProfile{{ user.userId }}" class="show-user-profile-link" href="javascript:void(0);">
            {{ user }}
          </a>
        </div>
        <div class="message-created-date">
          {{ search_user_role(user) }}
        </div>
        {% if user.region %}<div class="message-created-date">{{ user.region.regionName }}</div>{% endif %}
        <a href="javascript:void(0);" title="" class="send-found-user-message-button">Отправить сообщение</a>
      </div>
      <div class="clear"></div>
    </li>
  {% endfor %}
{% else %}
  <li><h5>Не найдено</h5></li>
{% endif %}